<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css"
    />
    <link
      rel="shortcut icon"
      href="https://i.ibb.co/T4NYsZv/subirlogo.png"
      type="image/x-icon"
    />
    <title>Admin - Hospital Ramon Carrillo</title>
  </head>
  <body>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap");

      html,
      body {
        font-family: "Outfit", sans-serif;
        min-height: 100%;
        background-color: rgb(215, 234, 250);
      }

      .rounded-xl {
        border-radius: 2rem;
      }
    </style>
    <div class="bg-orange-100 min-h-screen text-sm">
      <div class="fixed bg-white text-blue-800 px-10 py-1 z-10 w-full">
        <div class="flex items-center justify-between py-2">
          <img
            src="https://i.ibb.co/9nzzWPZ/subirlogo2.png"
            alt="Logo"
            class="h-14 w-auto"
            draggable="false"
          />
          <div class="flex items-center text-gray-500 relative">
            <div
              id="profileImage"
              class="bg-center bg-cover bg-no-repeat rounded-full inline-block h-12 w-16 ml-2 cursor-pointer"
            >
              <span
                class="material-icons"
                style="font-size: 42px; font-weight: 600"
                >face</span
              >
            </div>

            <!-- Menú desplegable -->
            <div
              id="dropdownMenu"
              class="absolute right-0 mt-14 w-48 bg-white rounded-md shadow-lg z-10 hidden md:right-10 md:mt-12"
            >
              <ul class="py-1">
                <li>
                  <a
                    href="ver-perfil-admin"
                    class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                    >Perfil</a
                  >
                </li>
                <li>
                  <a
                    href="configuracion-admin"
                    class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                    >Configuración</a
                  >
                </li>
                <li>
                  <a
                    href="/auth/logout"
                    class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                    >Cerrar sesión</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row pt-24 px-10 pb-4 text-base">
        <div class="w-full lg:w-2/12 mt-6 mr-6">
          <div class="bg-white rounded-xl shadow-lg mb-6 px-6 py-4">
            <a href="dashboard-admin" class="inline-block text-gray-600 hover:text-blue-500 my-4 w-full">
              <span class="material-icons-outlined float-left pr-2">home</span>
              Inicio
              <span class="material-icons-outlined float-right">keyboard_arrow_right</span>
            </a>
            <a href="historial-recetas-admin" class="inline-block text-gray-600 hover:text-green-500 my-4 w-full">
              <span class="material-icons-outlined float-left pr-2">file_copy</span>
              Historial de Recetas
              <span class="material-icons-outlined float-right">keyboard_arrow_right</span>
            </a>
            <a href="registro-medicamentos-admin" class="inline-block text-gray-600 hover:text-green-500 my-4 w-full">
              <span class="material-icons-outlined float-left pr-2">manage_search</span>
              Registro de Medicamentos
              <span class="material-icons-outlined float-right">keyboard_arrow_right</span>
            </a>
            <a href="otorgar-roles" class="inline-block text-gray-600 hover:text-green-500 my-4 w-full">
              <span class="material-icons-outlined float-left pr-2">supervisor_account</span>
              Otorgar Roles
              <span class="material-icons-outlined float-right">keyboard_arrow_right</span>
            </a>
            <a href="registro-pacientes-admin" class="inline-block text-gray-600 hover:text-green-500 my-4 w-full">
              <span class="material-icons-outlined float-left pr-2">manage_accounts</span>
              Registro de Pacientes
              <span class="material-icons-outlined float-right">keyboard_arrow_right</span>
            </a>
            <a href="editar-usuarios" class="inline-block text-gray-600 hover:text-green-500 my-4 w-full">
              <span class="material-icons-outlined float-left pr-2">edit</span>
              Editar Usuarios
              <span class="material-icons-outlined float-right">keyboard_arrow_right</span>
            </a>
          </div>

          <div class="bg-white rounded-xl shadow-lg mb-6 px-6 py-4">
            <a
              href="ver-perfil-admin"
              class="inline-block text-gray-600 hover:text-pink-500 my-4 w-full"
            >
              <span class="material-icons-outlined float-left pr-2"
                >manage_accounts</span
              >
              Perfil
              <span class="material-icons-outlined float-right"
                >keyboard_arrow_right</span
              >
            </a>
            <a
              href="configuracion-admin"
              class="inline-block text-gray-600 hover:text-black my-4 w-full"
            >
              <span class="material-icons-outlined float-left pr-2"
                >settings</span
              >
              Ajustes
              <span class="material-icons-outlined float-right"
                >keyboard_arrow_right</span
              >
            </a>
            <a
              href="/auth/logout"
              class="inline-block text-gray-600 hover:text-red-700 my-4 w-full"
            >
              <span class="material-icons-outlined float-left pr-2"
                >power_settings_new</span
              >
              Desconectarse
              <span class="material-icons-outlined float-right"
                >keyboard_arrow_right</span
              >
            </a>
          </div>
        </div>

        <!-- Empezar a editar desde acá para las demas views -->
        <div class="w-full lg:w-10/12 mt-6">
          <div class="flex flex-col lg:flex-row mb-4">
            <div
              class="pt-10 bg-red-200 border border-red-300 rounded-xl w-full lg:w-7/12 mr-2 p-6"
            >
              <p class="text-2xl md:text-4xl lg:text-5xl text-indigo-900">
                ¡Hola <strong><%= username %>!</strong> 🫡
              </p>
              <span
                id="dateTime"
                class="bg-yellow-200 text-lg md:text-xl lg:text-2xl text-indigo-900 inline-block rounded-full mt-12 px-8 py-2"
              >
              </span>
            </div>
          </div>
          <div class="flex flex-col lg:flex-row h-64 mt-6">
            <div
              class="bg-green-300 border border-green-500 rounded-xl shadow-lg px-6 py-4 w-full lg:w-4/12 mb-6 lg:mb-0"
            >
              <p class="text-3xl md:text-4xl lg:text-5xl text-blue-900">
                Modifiquemos el<br /><strong
                  >Historial <br />de Recetas 👀</strong
                >
              </p>
              <a
                href="historial-recetas-admin"
                class="bg-pink-300 text-lg md:text-xl lg:text-2xl text-blue-900 hover:text-white inline-block rounded-full mt-4 px-8 py-2"
                ><strong>Ver Historial</strong></a
              >
            </div>
            <div
              class="bg-purple-400 border border-purple-500 rounded-xl shadow-lg mx-0 lg:mx-6 px-6 py-4 w-full lg:w-4/12 mb-6 lg:mb-0"
            >
              <p class="text-2xl md:text-4xl lg:text-5xl text-yellow-300">
                Modifiquemos el<br /><strong
                  >Registro de Medicamentos 💊</strong
                >
              </p>
              <a
                href="registro-medicamentos-admin"
                class="bg-green-300 text-lg md:text-xl lg:text-2xl text-yellow-600 hover:text-white inline-block rounded-full mt-4 px-8 py-2"
                ><strong>Ver Registros</strong></a
              >
            </div>
            <div
              class="bg-pink-300 border border-pink-500 rounded-xl shadow-lg px-6 py-4 w-full lg:w-4/12 lg:space-x-6"
            >
              <p class="text-3xl md:text-4xl lg:text-5xl text-indigo-900">
                Cambiemos<br />Algunos de<br /><strong> Mis datos ⚙️</strong>
              </p>
              <a
                href="configuracion-admin"
                class="bg-green-300 text-lg md:text-xl lg:text-2xl text-sky-900 hover:text-white inline-block rounded-full mt-4 px-8 py-2"
                ><strong>Editar Perfil</strong></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("profileImage")
        .addEventListener("click", function () {
          var dropdownMenu = document.getElementById("dropdownMenu");
          dropdownMenu.classList.toggle("hidden");
        });

      window.addEventListener("click", function (e) {
        var profileImage = document.getElementById("profileImage");
        var dropdownMenu = document.getElementById("dropdownMenu");
        if (
          !profileImage.contains(e.target) &&
          !dropdownMenu.contains(e.target)
        ) {
          dropdownMenu.classList.add("hidden");
        }
      });
      function updateDateTime() {
        const dateTimeSpan = document.getElementById("dateTime");
        const now = new Date();
        const options = {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
          hour: "numeric",
          minute: "numeric",
          second: "numeric",
          hour12: false,
        };
        const formattedDateTime = now.toLocaleDateString("es-ES", options);
        dateTimeSpan.innerHTML = `<strong class="text-purple-500 hover:text-purple-800 select-none">${formattedDateTime}</strong>`;
      }

      window.onload = () => {
        updateDateTime();
        setInterval(updateDateTime, 1000);
      };
    </script>
  </body>
</html>
