<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css"/>
    <link rel="shortcut icon" href="https://i.ibb.co/T4NYsZv/subirlogo.png" type="image/x-icon">
    <title>Personal de Salud - Hospital Ramon Carrillo</title>
  </head>
  <body>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap");

      html,
      body {
        font-family: "Outfit", sans-serif;
        min-height: 100%;
        background-color: rgb(215, 234, 250);
      }

      .rounded-xl {
        border-radius: 2rem;
      }
    </style>
    <div class="bg-orange-100 min-h-screen text-sm">
      <div class="fixed bg-white text-blue-800 px-10 py-1 z-10 w-full">
        <div class="flex items-center justify-between py-2">
          <img src="https://i.ibb.co/9nzzWPZ/subirlogo2.png" alt="Logo" class="h-14 w-auto" draggable="false">
          <div class="flex items-center text-gray-500 relative">
            <div
              id="profileImage"
              class="bg-center bg-cover bg-no-repeat rounded-full inline-block h-12 w-16 ml-2 cursor-pointer"
            >
              <span
                class="material-icons"
                style="font-size: 42px; font-weight: 600"
                >face</span
              >
            </div>

            <!-- Menú desplegable -->
            <div
              id="dropdownMenu"
              class="absolute right-0 mt-14 w-48 bg-white rounded-md shadow-lg z-10 hidden md:right-10 md:mt-12"
            >
              <ul class="py-1">
                <li>
                  <a
                    href="ver-perfil-usuario"
                    class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                    >Perfil</a
                  >
                </li>
                <li>
                  <a
                    href="configuracion-usuario"
                    class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                    >Configuración</a
                  >
                </li>
                <li>
                  <a
                    href="login"
                    class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                    >Cerrar sesión</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row pt-24 px-10 pb-4 text-base">
        <div class="w-full lg:w-2/12 mt-6 mr-6">
          <div class="bg-white rounded-xl shadow-lg mb-6 px-6 py-4">
            <a
              href="dashboard-usuario"
              class="inline-block text-gray-600 hover:text-blue-500 my-4 w-full"
            >
              <span class="material-icons-outlined float-left pr-2">home</span>
              Inicio
              <span class="material-icons-outlined float-right"
                >keyboard_arrow_right</span
              >
            </a>
            <a
              href="historial-recetas-usuario"
              class="inline-block text-gray-600 hover:text-green-500 my-4 w-full"
            >
              <span class="material-icons-outlined float-left pr-2"
                >file_copy</span
              >
              Historial de Recetas
              <span class="material-icons-outlined float-right"
                >keyboard_arrow_right</span
              >
            </a>
          </div>

          <div class="bg-white rounded-xl shadow-lg mb-6 px-6 py-4">
            <a
              href="ver-perfil-usuario"
              class="inline-block text-gray-600 hover:text-pink-500 my-4 w-full"
            >
              <span class="material-icons-outlined float-left pr-2"
                >manage_accounts</span
              >
              Perfil
              <span class="material-icons-outlined float-right"
                >keyboard_arrow_right</span
              >
            </a>
            <a
              href="configuracion-usuario"
              class="inline-block text-gray-600 hover:text-yellow-700 my-4 w-full"
            >
              <span class="material-icons-outlined float-left pr-2"
                >settings</span
              >
              Ajustes
              <span class="material-icons-outlined float-right"
                >keyboard_arrow_right</span
              >
            </a>
            <a
              href="login"
              class="inline-block text-gray-600 hover:text-red-700 my-4 w-full"
            >
              <span class="material-icons-outlined float-left pr-2"
                >power_settings_new</span
              >
              Desconectarse
              <span class="material-icons-outlined float-right"
                >keyboard_arrow_right</span
              >
            </a>
          </div>
        </div>

        <div class="w-full lg:w-10/12 mt-6">
          <div class="bg-white rounded-xl shadow-lg p-6">
            <h2 class="text-4xl font-semibold text-green-700 mb-4 hover:text-green-900">Historial de Recetas 🗒️</h2>
            <table class="min-w-full bg-white">
              <thead>
                <tr>
                  <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600 border-b border-gray-200">ID</th>
                  <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600 border-b border-gray-200">Paciente</th>
                  <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600 border-b border-gray-200">Fecha</th>
                  <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600 border-b border-gray-200">Medicamentos</th>
                  <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600 border-b border-gray-200">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- Filas vacías -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("profileImage")
        .addEventListener("click", function () {
          var dropdownMenu = document.getElementById("dropdownMenu");
          dropdownMenu.classList.toggle("hidden");
        });

      window.addEventListener("click", function (e) {
        var profileImage = document.getElementById("profileImage");
        var dropdownMenu = document.getElementById("dropdownMenu");
        if (
          !profileImage.contains(e.target) &&
          !dropdownMenu.contains(e.target)
        ) {
          dropdownMenu.classList.add("hidden");
        }
      });
    </script>
  </body>
</html>
